#### Import Libraries

In [1]:
import pandas as pd
import numpy as np
from fuzzywuzzy import fuzz, process

/home/matteo/anaconda3/lib/python3.9/site-packages/fuzzywuzzy/fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

#### Bring in data and clean a bit

In [100]:
# Bring in tables
teams_df = pd.read_csv("teams.csv")
# Replace index
games_df = pd.read_csv("games.csv")
games_df = games_df.drop(columns = ['Unnamed: 0'])
# Shot Data
shot_df = pd.read_csv("shot_zones.csv")
shot_df.rename(columns={'Unnamed: 0': 'School'}, inplace=True)

In [101]:
teams_df

,School,G,W,L,W-L%,SRS,SOS,W.1,L.1,W.2,...,FT,FTA,FT%,ORB,TRB,AST,STL,BLK,TOV,PF
0,Abilene Christian,29,13,16,0.448,-11.86,-7.10,7,11,9,...,360,543,0.663,222,904,408,210,83,412,631
1,Air Force,33,12,21,0.364,-3.06,1.00,4,14,11,...,513,715,0.717,310,1149,494,197,57,390,594
2,Akron,36,27,9,0.750,3.59,-1.21,14,4,13,...,508,744,0.683,357,1246,517,198,118,422,653
3,Alabama,34,19,15,0.559,11.29,7.47,10,8,11,...,487,746,0.653,418,1327,390,200,141,474,664
4,Alabama A&M,29,2,27,0.069,-26.99,-11.09,2,16,1,...,411,614,0.669,299,914,326,100,50,384,526
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
346,Wright State,32,20,12,0.625,-1.02,-2.42,11,7,12,...,546,715,0.764,326,1136,472,181,75,474,594
347,Wyoming,38,23,15,0.605,2.83,0.55,8,10,19,...,620,849,0.730,322,1446,561,195,172,502,783
348,Xavier,38,24,14,0.632,14.80,11.51,9,9,12,...,607,882,0.688,451,1416,560,228,100,478,711
349,Yale,29,18,11,0.621,0.21,-2.19,9,5,10,...,405,553,0.732,301,1056,452,162,123,377,454
350,Youngstown State,34,13,21,0.382,-9.75,-2.56,5,13,7,...,404,601,0.672,355,1246,513,187,107,406,566

In [102]:
games_df

,Date,Home Team Name,Away Team Name,Home Team ID,Away Team ID,Neutral,Location,Zipcode,Tournament,Special,...,Home TO,Away TO,Home PF,Away PF,Home TF,Away TF,Home FF,Away FF,Home PTS,Away PTS
0,11/10/17,Davidson,Charleston Southern,2166,2127,False,"Davidson, NC",28036.0,False,False,...,1,14,12,17,0,0,0,0,110,62
1,11/10/17,Dayton,Ball State,2168,2050,False,"Dayton, OH",45490.0,False,False,...,11,12,15,19,0,0,0,0,78,77
2,11/10/17,Fordham,Miami (OH),2230,193,False,"Bronx, NY",NaN,False,False,...,9,21,17,17,0,0,0,0,54,55
3,11/10/17,George Mason,Lafayette,2244,322,False,"Fairfax, VA",22038.0,False,False,...,11,14,10,18,0,0,0,0,67,65
4,11/10/17,VCU,Grambling,2670,2755,False,"Richmond, VA",23298.0,False,False,...,11,12,23,17,0,0,0,0,94,65
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5865,3/11/18,Rhode Island,Davidson,227,2166,True,"Washington, DC",20599.0,True,False,...,14,12,16,14,0,0,0,0,57,58
5866,3/11/18,Cincinnati,Houston,2132,248,True,"Orlando, FL",32899.0,True,False,...,13,12,13,19,0,0,0,0,56,55
5867,3/11/18,Harvard,Pennsylvania,108,219,True,"Philadelphia, PA",19255.0,True,False,...,8,7,17,14,0,0,0,0,65,68
5868,3/11/18,Tennessee,Kentucky,2633,96,True,"St. Louis, MO",63199.0,True,False,...,10,10,21,19,0,0,0,0,72,77
5869,3/11/18,Georgia State,UT Arlington,2247,250,True,"New Orleans, LA",70195.0,True,False,...,8,13,21,16,1,0,0,0,74,61

In [103]:
shot_df

,School,O_All Other 3s,O_In the Paint,O_Rim,O_Corner 3 Left,O_Corner 3 Right,O_Mid 2,D_All Other 3s,D_In the Paint,D_Rim,D_Corner 3 Left,D_Corner 3 Right,D_Mid 2
0,Air Force,0.333333,0.342697,0.656109,0.441176,0.441176,0.319588,0.378947,0.362385,0.702128,0.413793,0.500000,0.344086
1,Akron,0.370968,0.343750,0.666667,0.461538,0.142857,0.379310,0.354167,0.458333,0.722222,0.555556,0.333333,0.413793
2,Alabama,0.312388,0.453271,0.658879,0.393939,0.376623,0.315000,0.315467,0.389234,0.598182,0.350000,0.418605,0.363296
3,Alabama A&M,0.343284,0.241758,0.650794,0.375000,0.500000,0.250000,0.440860,0.553571,0.890000,0.166667,0.625000,0.333333
4,Alabama State,0.303030,0.371795,0.500000,0.000000,0.600000,0.268293,0.425000,0.462963,0.681319,0.333333,0.400000,0.375000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
355,Wright State,0.315789,0.254902,0.622642,0.333333,0.800000,0.269231,0.285714,0.403509,0.604651,0.200000,0.444444,0.365854
356,Wyoming,0.333996,0.428571,0.653207,0.403846,0.365079,0.325758,0.362924,0.434402,0.602667,0.378378,0.559322,0.399160
357,Xavier,0.369281,0.471963,0.658156,0.392157,0.400000,0.379679,0.326232,0.432802,0.617699,0.408451,0.329268,0.364912
358,Yale,0.281818,0.394366,0.666667,0.125000,0.380952,0.437500,0.347826,0.600000,0.648649,0.400000,0.444444,0.463415
359,Youngstown State,0.396552,0.403846,0.657143,0.200000,0.166667,0.250000,0.341463,0.490196,0.707692,0.428571,0.250000,0.500000

#### Swap Values For First two Tables

The team names are different between some teams in our team and game tables. We want to match them up so that they are the same and remove games that we don't have team info for

In [104]:
teams_t = teams_df['School']
games_ht = games_df["Home Team Name"]
games_at = games_df["Away Team Name"]

In [105]:
differences1 = list(set(teams_t) - set(games_ht))
differences2 = list(set(games_ht) - set(teams_t))
differences1.sort()
differences2.sort()

In [106]:
mapping_dict = {}

# Initialize an empty list for values that don't have a close match
values_to_trash = []

In [107]:
threshold = 80  # You can adjust this threshold based on your matching criteria

# Iterate through the second list
for value2 in differences2:
    # Find the closest match in the first list
    match, score = process.extractOne(value2, differences1)
    
    # If the similarity score is above the threshold, add it to the mapping dictionary
    if score >= threshold:
        mapping_dict[value2] = match
    else:
        # If there is no close match, add it to the values to trash list
        values_to_trash.append(value2)

Manually add values to the dictionary that the fuzzy search didn't catch

In [108]:
mapping_dict['BYU'] = 'Bowling Green State'
mapping_dict['LIU Brooklyn'] = 'Long Island University'
mapping_dict['Houston Baptist'] = 'Houston Christian'
mapping_dict['LSU'] = 'Louisiana State'
mapping_dict['SMU'] = 'Southern Methodist'
mapping_dict['UCF'] = 'Central Florida'
mapping_dict['UConn'] = 'Connecticut'
mapping_dict['UIC'] = 'Illinois-Chicago'
mapping_dict['UMBC'] = 'Maryland-Baltimore County'
mapping_dict['UMKC'] = 'Kansas City'
mapping_dict['UNLV'] = 'Nevada-Las Vegas'
mapping_dict['USC'] = 'Southern California'
mapping_dict['UT San Antonio'] = 'UTSA'
mapping_dict['VCU'] = 'Virginia Commonwealth'
mapping_dict['Ole Miss'] = 'Mississippi'

Leaving only these two as values that we don't have information on

In [109]:
values_to_trash = ['Alaska Anchorage', 'Chaminade']

Modify the team names in the games_df table

In [110]:
games_df['Home Team Name'] = games_df['Home Team Name'].replace(mapping_dict)
games_df['Away Team Name'] = games_df['Away Team Name'].replace(mapping_dict)

Drop all games that involve alaska anchorage or chaminade

In [111]:
games_df = games_df[~games_df['Home Team Name'].isin(values_to_trash)]
games_df = games_df[~games_df['Away Team Name'].isin(values_to_trash)]

#### Check values a second time to verify what we did worked

In [112]:
teams_t = teams_df['School']
games_ht = games_df["Home Team Name"]
games_at = games_df["Away Team Name"]

In [113]:
differences1 = list(set(teams_t) - set(games_ht))
differences2 = list(set(games_ht) - set(teams_t))
differences1.sort()
differences2.sort()

In [114]:
# We dont' care about this. This means we have data for the team but no games with them so whatever
differences1

['Brigham Young', 'Texas A&M-Corpus Christi']

In [115]:
# This is empty which is what we want. Means there are no games with teams we don't have data for
differences2

[]

## Construct new DataFrame

In [116]:
home_win = []
for i in range(len(games_df.index)):
    if games_df.iloc[i, -2] > games_df.iloc[i, -1]:
        home_win.append(1)
    else:
        home_win.append(0)

In [117]:
base_df = pd.DataFrame()

In [118]:
base_df["Home Team Name"] = games_df["Home Team Name"]
base_df["Away Team Name"] = games_df["Away Team Name"]

In [119]:
base_df

             Home Team Name       Away Team Name
0                  Davidson  Charleston Southern
1                    Dayton           Ball State
2                   Fordham           Miami (OH)
3              George Mason            Lafayette
4     Virginia Commonwealth            Grambling
...                     ...                  ...
5865           Rhode Island             Davidson
5866             Cincinnati              Houston
5867                Harvard         Pennsylvania
5868              Tennessee             Kentucky
5869          Georgia State         UT Arlington

[5864 rows x 2 columns]

In [120]:
merged_df = base_df.merge(teams_df, left_on='Home Team Name', right_on='School', how='left').merge(teams_df, left_on='Away Team Name', right_on='School', how='left', suffixes=('_Home', '_Away'))
merged_df = merged_df.drop(columns = ['School_Home', 'School_Away'])
merged_df["Home Win"] = home_win
merged_df = merged_df.dropna()

In [121]:
merged_df

,Home Team Name,Away Team Name,G_Home,W_Home,L_Home,W-L%_Home,SRS_Home,SOS_Home,W.1_Home,L.1_Home,...,FTA_Away,FT%_Away,ORB_Away,TRB_Away,AST_Away,STL_Away,BLK_Away,TOV_Away,PF_Away,Home Win
0,Davidson,Charleston Southern,32,17,15,0.531,6.45,4.26,8,10,...,643.0,0.666,336.0,1092.0,341.0,176.0,89.0,358.0,620.0,1
1,Dayton,Ball State,32,24,8,0.750,12.98,4.27,15,3,...,696.0,0.718,335.0,1281.0,529.0,203.0,118.0,496.0,658.0,1
2,Fordham,Miami (OH),32,13,19,0.406,-1.97,1.36,7,11,...,689.0,0.691,298.0,1091.0,364.0,238.0,125.0,467.0,642.0,0
3,George Mason,Lafayette,34,20,14,0.588,3.01,1.28,9,9,...,492.0,0.711,205.0,956.0,378.0,148.0,85.0,436.0,514.0,1
4,Virginia Commonwealth,Grambling,35,26,9,0.743,11.57,3.77,14,4,...,747.0,0.663,398.0,1108.0,368.0,292.0,76.0,450.0,658.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5859,Rhode Island,Davidson,35,25,10,0.714,12.88,4.62,13,5,...,587.0,0.753,285.0,1149.0,499.0,163.0,106.0,390.0,583.0,0
5860,Cincinnati,Houston,36,30,6,0.833,18.43,5.49,16,2,...,544.0,0.717,362.0,1138.0,406.0,170.0,113.0,315.0,601.0,1
5861,Harvard,Pennsylvania,28,18,10,0.643,2.30,-2.24,10,4,...,417.0,0.657,267.0,972.0,401.0,181.0,100.0,358.0,501.0,0
5862,Tennessee,Kentucky,32,16,16,0.500,11.28,10.18,8,10,...,980.0,0.704,470.0,1512.0,585.0,229.0,200.0,443.0,716.0,0
5863,Georgia State,UT Arlington,33,20,13,0.606,-0.33,-2.17,12,6,...,749.0,0.681,430.0,1384.0,566.0,266.0,81.0,472.0,691.0,1

## Add in shot data

Utilized ChatGPT to get me started on this. Modified its output to correctly match most of them...

In [122]:
shot_teams = shot_df['School']
merge_teams = merged_df["Home Team Name"]

In [123]:
differences1 = list(set(merge_teams) - set(shot_teams))
differences2 = list(set(shot_teams) - set(merge_teams))
differences1.sort()
differences2.sort()

In [124]:
mapping_dict = {}

# Initialize an empty list for values that don't have a close match
values_to_trash = []

In [125]:
threshold = 80  # You can adjust this threshold based on your matching criteria

# Iterate through the second list
for value2 in differences2:
    # Find the closest match in the first list
    match, score = process.extractOne(value2, differences1)
    
    # If the similarity score is above the threshold, add it to the mapping dictionary
    if score >= threshold:
        mapping_dict[value2] = match
    else:
        # If there is no close match, add it to the values to trash list
        values_to_trash.append(value2)

The mapping_dict got some wrong so we'll swap those out with the correct or remove them if they don't exist

In [126]:
mapping_dict['LSU'] = 'Louisiana State'
mapping_dict['Houston Baptist'] = 'Houston Christian'
mapping_dict['IPFW'] = 'Purdue Fort Wayne'
mapping_dict['LIU Brooklyn'] = 'Long Island University'
mapping_dict['Ole Miss'] = 'Mississippi'
mapping_dict['UNLV'] = 'Nevada-Las Vegas'
mapping_dict['USC'] = 'Southern California'
mapping_dict['UMBC'] = 'Maryland-Baltimore County'
mapping_dict['UMKC'] = 'Kansas City'
mapping_dict['SMU'] = 'Southern Methodist'
mapping_dict['UCF'] = 'Central Florida'
mapping_dict['Texas-Arlington'] = 'UT Arlington'
mapping_dict['North Carolina State'] = 'NC State'
mapping_dict['Southern Miss'] = 'Southern Mississippi'
mapping_dict['N.J.I.T.'] = 'NJIT'

mapping_dict.pop('Texas A&M-CC')
mapping_dict.pop('Bemidji State')
mapping_dict.pop('Cal State L.A.')
mapping_dict.pop('Emporia State')

'Mississippi Valley State'

In [127]:
values_to_trash = ['Montana State', 'Mississippi Valley State', 'Abilene Christian', 'Grambling', 'UT Arlington', 'VMI']

In [128]:
shot_df['School'] = shot_df['School'].replace(mapping_dict)
merged_df = merged_df[~merged_df['Home Team Name'].isin(values_to_trash)]
merged_df = merged_df[~merged_df['Away Team Name'].isin(values_to_trash)]

In [129]:
shot_teams = shot_df['School']
merge_teams = merged_df['Home Team Name']

In [130]:
differences1 = list(set(merge_teams) - set(shot_teams))
differences2 = list(set(shot_teams) - set(merge_teams))
differences1.sort()
differences2.sort()

In [131]:
differences1

[]

In [132]:
shot_df

,School,O_All Other 3s,O_In the Paint,O_Rim,O_Corner 3 Left,O_Corner 3 Right,O_Mid 2,D_All Other 3s,D_In the Paint,D_Rim,D_Corner 3 Left,D_Corner 3 Right,D_Mid 2
0,Air Force,0.333333,0.342697,0.656109,0.441176,0.441176,0.319588,0.378947,0.362385,0.702128,0.413793,0.500000,0.344086
1,Akron,0.370968,0.343750,0.666667,0.461538,0.142857,0.379310,0.354167,0.458333,0.722222,0.555556,0.333333,0.413793
2,Alabama,0.312388,0.453271,0.658879,0.393939,0.376623,0.315000,0.315467,0.389234,0.598182,0.350000,0.418605,0.363296
3,Alabama A&M,0.343284,0.241758,0.650794,0.375000,0.500000,0.250000,0.440860,0.553571,0.890000,0.166667,0.625000,0.333333
4,Alabama State,0.303030,0.371795,0.500000,0.000000,0.600000,0.268293,0.425000,0.462963,0.681319,0.333333,0.400000,0.375000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
355,Wright State,0.315789,0.254902,0.622642,0.333333,0.800000,0.269231,0.285714,0.403509,0.604651,0.200000,0.444444,0.365854
356,Wyoming,0.333996,0.428571,0.653207,0.403846,0.365079,0.325758,0.362924,0.434402,0.602667,0.378378,0.559322,0.399160
357,Xavier,0.369281,0.471963,0.658156,0.392157,0.400000,0.379679,0.326232,0.432802,0.617699,0.408451,0.329268,0.364912
358,Yale,0.281818,0.394366,0.666667,0.125000,0.380952,0.437500,0.347826,0.600000,0.648649,0.400000,0.444444,0.463415
359,Youngstown State,0.396552,0.403846,0.657143,0.200000,0.166667,0.250000,0.341463,0.490196,0.707692,0.428571,0.250000,0.500000

In [133]:
test = merged_df.merge(shot_df, left_on='Home Team Name', right_on='School', how='left')
test = test.merge(shot_df, left_on='Away Team Name', right_on='School', how='left')

In [145]:
test

,Home Team Name,Away Team Name,G_Home,W_Home,L_Home,W-L%_Home,SRS_Home,SOS_Home,W.1_Home,L.1_Home,...,O_Rim_y,O_Corner 3 Left_y,O_Corner 3 Right_y,O_Mid 2_y,D_All Other 3s_y,D_In the Paint_y,D_Rim_y,D_Corner 3 Left_y,D_Corner 3 Right_y,D_Mid 2_y
0,Davidson,Charleston Southern,32,17,15,0.531,6.45,4.26,8,10,...,0.657143,0.200000,0.363636,0.279070,0.319444,0.518519,0.756098,0.500000,0.125000,0.407407
1,Dayton,Ball State,32,24,8,0.750,12.98,4.27,15,3,...,0.636364,0.600000,0.428571,0.333333,0.407407,0.433962,0.631579,0.250000,0.000000,0.235294
2,Fordham,Miami (OH),32,13,19,0.406,-1.97,1.36,7,11,...,0.594595,0.166667,0.166667,0.289474,0.315217,0.500000,0.658228,0.111111,0.500000,0.347826
3,George Mason,Lafayette,34,20,14,0.588,3.01,1.28,9,9,...,0.574074,0.250000,0.437500,0.357143,0.536232,0.454545,0.683544,0.363636,0.428571,0.333333
4,Richmond,Delaware,35,22,13,0.629,5.45,3.28,13,5,...,0.586957,0.000000,0.428571,0.411765,0.301587,0.483871,0.812500,0.666667,0.500000,0.421053
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5227,New Mexico State,Grand Canyon,34,28,6,0.824,4.66,-3.82,11,3,...,0.584158,0.000000,0.600000,0.372549,0.270588,0.573171,0.553191,0.210526,0.307692,0.229167
5228,Rhode Island,Davidson,35,25,10,0.714,12.88,4.62,13,5,...,0.653005,0.440678,0.437500,0.315789,0.341772,0.434211,0.649425,0.460000,0.388889,0.365385
5229,Cincinnati,Houston,36,30,6,0.833,18.43,5.49,16,2,...,0.641509,0.425532,0.480000,0.451724,0.314159,0.394904,0.554645,0.343750,0.386364,0.290598
5230,Harvard,Pennsylvania,28,18,10,0.643,2.30,-2.24,10,4,...,0.616438,0.444444,0.375000,0.333333,0.357143,0.363636,0.696203,0.272727,0.333333,0.378378
5231,Tennessee,Kentucky,32,16,16,0.500,11.28,10.18,8,10,...,0.676380,0.515152,0.372093,0.345745,0.288724,0.424379,0.587838,0.376812,0.358974,0.328000

In [134]:
home_other_3s = test['O_All Other 3s_x'] - test['D_All Other 3s_y']
home_paint = test['O_In the Paint_x'] - test['D_In the Paint_y']
home_rim = test['O_Rim_x'] - test['D_Rim_y']
home_lc3 = test['O_Corner 3 Left_x'] - test['D_Corner 3 Left_y']
home_rc3 = test['O_Corner 3 Right_x'] - test['D_Corner 3 Left_y']
away_other_3s = test['O_All Other 3s_y'] - test['D_All Other 3s_x']
away_paint = test['O_In the Paint_y'] - test['D_In the Paint_x']
away_rim = test['O_Rim_y'] - test['D_Rim_x']
away_lc3 = test['O_Corner 3 Left_y'] - test['D_Corner 3 Left_x']
away_rc3 = test['O_Corner 3 Right_y'] - test['D_Corner 3 Left_x']

In [161]:
test['home_other_3s'] = home_other_3s
test['home_paint'] = home_paint
test['home_rim'] = home_rim
test['home_lc3'] = home_lc3
test['home_rc3'] = home_rc3

test['away_other_3s'] = home_paint
test['away_paint'] = away_paint
test['away_rim'] = away_rim
test['away_lc3'] = away_lc3
test['away_rc3'] = away_rc3

In [162]:
test

,Home Team Name,Away Team Name,G_Home,W_Home,L_Home,W-L%_Home,SRS_Home,SOS_Home,W.1_Home,L.1_Home,...,home_other_3s,home_paint,home_rim,home_lc3,home_rc3,away_other_3s,away_paint,away_rim,away_lc3,away_rc3
0,Davidson,Charleston Southern,32,17,15,0.531,6.45,4.26,8,10,...,0.071341,-0.051337,-0.103092,-0.059322,-0.062500,-0.051337,-0.015292,0.007718,-0.260000,-0.096364
1,Dayton,Ball State,32,24,8,0.750,12.98,4.27,15,3,...,-0.061254,-0.032832,0.077845,0.150000,0.064815,-0.032832,-0.001323,-0.022727,0.231579,0.060150
2,Fordham,Miami (OH),32,13,19,0.406,-1.97,1.36,7,11,...,-0.000324,-0.150943,-0.024895,0.233716,0.302682,-0.150943,-0.067323,-0.035361,-0.074713,-0.074713
3,George Mason,Lafayette,34,20,14,0.588,3.01,1.28,9,9,...,-0.225370,-0.104292,-0.110729,-0.049351,-0.126794,-0.104292,-0.011627,-0.063662,-0.071429,0.116071
4,Richmond,Delaware,35,22,13,0.629,5.45,3.28,13,5,...,0.043774,-0.025291,-0.145833,-0.474359,-0.311828,-0.025291,0.016026,-0.078688,-0.571429,-0.142857
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5227,New Mexico State,Grand Canyon,34,28,6,0.824,4.66,-3.82,11,3,...,0.107071,-0.179837,0.092523,0.263158,0.062201,-0.179837,-0.061093,-0.017193,-0.400000,0.200000
5228,Rhode Island,Davidson,35,25,10,0.714,12.88,4.62,13,5,...,0.011739,-0.030364,-0.023202,-0.082642,-0.063175,-0.030364,0.050788,0.022787,0.098573,0.095395
5229,Cincinnati,Houston,36,30,6,0.833,18.43,5.49,16,2,...,0.051771,0.032547,0.094385,-0.164263,0.004076,0.032547,0.048858,0.121509,0.163237,0.217705
5230,Harvard,Pennsylvania,28,18,10,0.643,2.30,-2.24,10,4,...,-0.023810,0.027273,-0.044517,-0.006061,-0.022727,0.027273,0.015735,0.011175,0.367521,0.298077
5231,Tennessee,Kentucky,32,16,16,0.500,11.28,10.18,8,10,...,0.065562,-0.038158,0.075401,0.151490,-0.019669,-0.038158,0.038042,0.055618,0.222048,0.078990

In [143]:
merged_df['home_other_3s'] = home_other_3s
merged_df['home_paint'] = home_paint
merged_df['home_rim'] = home_rim
merged_df['home_lc3'] = home_lc3
merged_df['home_rc3'] = home_rc3

merged_df['away_other_3s'] = home_paint
merged_df['away_paint'] = away_paint
merged_df['away_rim'] = away_rim
merged_df['away_lc3'] = away_lc3
merged_df['away_rc3'] = away_rc3

In [144]:
merged_df

,Home Team Name,Away Team Name,G_Home,W_Home,L_Home,W-L%_Home,SRS_Home,SOS_Home,W.1_Home,L.1_Home,...,home_other_3s,home_paint,home_rim,home_lc3,home_rc3,away_other_3s,away_paint,away_rim,away_lc3,away_rc3
0,Davidson,Charleston Southern,32,17,15,0.531,6.45,4.26,8,10,...,0.071341,-0.051337,-0.103092,-0.059322,-0.062500,-0.051337,-0.015292,0.007718,-0.260000,-0.096364
1,Dayton,Ball State,32,24,8,0.750,12.98,4.27,15,3,...,-0.061254,-0.032832,0.077845,0.150000,0.064815,-0.032832,-0.001323,-0.022727,0.231579,0.060150
2,Fordham,Miami (OH),32,13,19,0.406,-1.97,1.36,7,11,...,-0.000324,-0.150943,-0.024895,0.233716,0.302682,-0.150943,-0.067323,-0.035361,-0.074713,-0.074713
3,George Mason,Lafayette,34,20,14,0.588,3.01,1.28,9,9,...,-0.225370,-0.104292,-0.110729,-0.049351,-0.126794,-0.104292,-0.011627,-0.063662,-0.071429,0.116071
5,Richmond,Delaware,35,22,13,0.629,5.45,3.28,13,5,...,0.134278,0.078997,-0.103270,0.425000,0.338028,0.078997,0.012818,-0.010169,0.209677,0.209677
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5858,New Mexico State,Grand Canyon,34,28,6,0.824,4.66,-3.82,11,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5859,Rhode Island,Davidson,35,25,10,0.714,12.88,4.62,13,5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5860,Cincinnati,Houston,36,30,6,0.833,18.43,5.49,16,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5861,Harvard,Pennsylvania,28,18,10,0.643,2.30,-2.24,10,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5862,Tennessee,Kentucky,32,16,16,0.500,11.28,10.18,8,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
test.to_csv("merged_df.csv", index=False)