In [1]:
import pandas as pd

In [2]:
# Load Data
table = pd.read_csv("2017_teams.csv")
# Replace index
table.index = table['School']
table = table.drop(columns = ['School', 'Rk'])
# Remove NCAA from index
table.index = table.index.str.replace(" NCAA", "", regex=True)
table

,G,W,L,W-L%,SRS,SOS,W.1,L.1,W.2,L.2,...,FT,FTA,FT%,ORB,TRB,AST,STL,BLK,TOV,PF
School,,,,,,,,,,,,,,,,,,,,,
Abilene Christian,29,13,16,0.448,-11.86,-7.10,7,11,9,5,...,360,543,0.663,222,904,408,210,83,412,631
Air Force,33,12,21,0.364,-3.06,1.00,4,14,11,7,...,513,715,0.717,310,1149,494,197,57,390,594
Akron,36,27,9,0.750,3.59,-1.21,14,4,13,2,...,508,744,0.683,357,1246,517,198,118,422,653
Alabama,34,19,15,0.559,11.29,7.47,10,8,11,6,...,487,746,0.653,418,1327,390,200,141,474,664
Alabama A&M,29,2,27,0.069,-26.99,-11.09,2,16,1,9,...,411,614,0.669,299,914,326,100,50,384,526
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Wright State,32,20,12,0.625,-1.02,-2.42,11,7,12,4,...,546,715,0.764,326,1136,472,181,75,474,594
Wyoming,38,23,15,0.605,2.83,0.55,8,10,19,3,...,620,849,0.730,322,1446,561,195,172,502,783
Xavier,38,24,14,0.632,14.80,11.51,9,9,12,4,...,607,882,0.688,451,1416,560,228,100,478,711
Yale,29,18,11,0.621,0.21,-2.19,9,5,10,3,...,405,553,0.732,301,1056,452,162,123,377,454
Youngstown State,34,13,21,0.382,-9.75,-2.56,5,13,7,7,...,404,601,0.672,355,1246,513,187,107,406,566

In [3]:
table.to_csv("teams.csv", index=True)

In [4]:
table.loc["Michigan State"]

G         35.000
W         20.000
L         15.000
W-L%       0.571
SRS       13.670
SOS       10.500
W.1       10.000
L.1        8.000
W.2       14.000
L.2        2.000
W.3        2.000
L.3        7.000
Tm.     2515.000
Opp.    2404.000
MP      1405.000
FG       905.000
FGA     1927.000
FG%        0.470
3P       273.000
3PA      732.000
3P%        0.373
FT       432.000
FTA      646.000
FT%        0.669
ORB      328.000
TRB     1275.000
AST      591.000
STL      151.000
BLK      162.000
TOV      490.000
PF       699.000
Name: Michigan State, dtype: float64